.hero{
    display: flex;
    gap: 30px;
}

.one{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}
.one>h1{
    font-weight:bolder
}
.one>p{
    color: gray;
    font-size: 22px;
}
.one>button{
    background-color: #2ACFCF;
    color: #fff;
    width: 150px;
    font-size: larger;
    border-radius: 20px;
}
.shorten{
    background-color: #4B3F6B;
    height: 140px;
    width: 830px;
    border-radius: 10px;
    margin-top: 50px;
}
.shorts{
    display: flex;
    gap: 15px;
    padding: 30px;
}
.shorts>button{
    background-color: #2ACFCF;
    color: #fff;
    height: 64px;
    width: 200px;
    font-size: 20px;
    border-radius: 14px;
}

.shorts>input{
    height: 64px;
    width: 600px;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 20px;
}
.pix{
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3B3054;
    border-radius: 50%;
    position: absolute;
    top: -1%;
}

.items{
    display: flex;
 align-items: center;
 justify-content: center;
 padding: 30px 30px;
 position: relative;
}

.phase-two{
    height: 100vh;
    background-color: #BFBFBF;
    padding-bottom: 0;
}

.stats{
    padding-top: 50px;
}
.stats>p{
    color: gray;
}

.indie{
    box-shadow: 10px;
    background-color: #fff;
   margin-right: 20px;
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   flex-direction: column;
   height: 200px;
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 30px;
}

.booster-container{
    background-color: #3B3054;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.its>h2{
    color: #fff;
    font-size: 30px;
}
.its>button{
    background-color: #2ACFCF;
    color: #fff;
    font-size: 22px;
}



@media only screen and (max-width: 768px) {
        .home{
            display:flex ;
            flex-direction: column;
        }
        .hero{
            display: flex;
            flex-direction: column;
            width: 400px;
        }
        .one{
            width: 300px;
        }
        .illust>img{
            width: 300px;
            height: 300px;
        }
        .shorts{
            width: 200px;
        }
    }